/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
  }
  
  .logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .logo img {
    width: 200px;   /* agrandas el logo */
    height: auto;
  }
  

  
  .sidebar nav ul {
    list-style: none;
  }
  
  .sidebar nav ul li {
    margin: 12px 0;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #aaa;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s;
  }
  
  .sidebar nav ul li a img {
    width: 18px;
    height: 18px;
  }
  
  .sidebar nav ul li a:hover {
    color: #fff;
  }
  
  .sidebar-footer {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .sidebar-footer a {
    color: #777;
    text-decoration: none;
  }
  
  .sidebar-footer a:hover {
    color: #fff;
  }
  
  /* Main content */
  .main-content {
    margin-left: 250px; /* coincide con ancho sidebar */
    padding: 20px 40px;
    flex: 1;
  }
  
  /* Topbar */
  .topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
  }
    
  .user-actions img {
    width: 22px;
    margin-left: 15px;
    cursor: pointer;
  }

  /* contenido del help */


  .help-container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .help-section {
    margin-bottom: 50px;
  }
  
  .help-section h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
  }
  
  .help-section p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #ccc;
  }
